<div class="container">
    <div class="jumbotron">
        <form name="searchForm" ng-submit="ctrl.search(ctrl.searchType.selectedType,ctrl.keyword,ctrl.sortBy)" class="form-group">
            <div class="search-type col-lg-3">
                <ui-select multiple ng-model="ctrl.searchType.selectedType" theme="bootstrap" sortable="true" close-on-select="false">
                    <ui-select-match placeholder="Search by...">{{$item}}</ui-select-match>
                    <ui-select-choices repeat="type in ctrl.typesOfSearch">
                        {{type}}
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="keyword col-lg-6">
                <input type="text" name="keyword" class="form-control" ng-model="ctrl.keyword"
                       placeholder="Search via First Name or NRIC number"
                       required>
            </div>
            <div class="sort-by col-lg-2">
                <select ng-model="ctrl.sortBy" class="form-control">
                    <option value="" disabled selected>Sort by</option>
                    <option value="ASC">Ascending</option>
                    <option value="DESC">Descending</option>
                </select>
            </div>
            <div class="col-lg-1">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>

    <div class="list" ng-show="ctrl.users">
        <div class="row">
            <div class="list-header col-lg-12 col-md-12 col-sm-12">
                <ul uib-pagination total-items="ctrl.totalItems" ng-model="ctrl.currentPage"
                    max-size="ctrl.maxSize" items-per-page="ctrl.itemsPerPage" ng-change="ctrl.pageChanged()"
                    class="pagination-sm" boundary-link-numbers="true" rotate="false"></ul>
            </div>
        </div>
        <div class="row">
            <div class="user col-lg-3 col-md-4 col-sm-6" ng-repeat="user in ctrl.users | orderBy:'name_first'">
                <a class="thumb">
                    <img src="https://cdn1.iconfinder.com/data/icons/unique-round-blue/93/user-512.png" />
                </a>
                <h4>{{users.name_first}}</h4>
                <h4>{{users.name_last}}</h4>
                <h5>{{users.nric}}</h5>
                <button type="button" class="btn btn-default" ng-click="ctrl.getUser(users.user_id)">Edit</button>
            </div>
        </div>
    </div>
    <div class="list" ng-hide="ctrl.users.length>0">
        <h1>User(s) that you are searching for cannot be found. Please try again with a different search term.</h1>
    </div>
</div>