<div class="container">
    <h1>Edit {{ctrl.users.name_first}}</h1>
    <hr>
    <div class="row">
        <div class="users col-lg-8 col-md-6 col-sm-12">
            <form name="saveForm" ng-submit="ctrl.save();">
                <div class="form-group">
                    <label for="title">NRIC:</label>
                    <input class="form-control" type="text" id="title" ng-model="ctrl.users.nric" required>
                </div>
                <div class="form-group">
                    <label for="title">First Name:</label>
                    <input class="form-control" type="text" id="title" ng-model="ctrl.users.name_first" required>
                </div>
                <div class="form-group">
                    <label for="title">Last Name:</label>
                    <input class="form-control" type="text" id="title" ng-model="ctrl.users.name_last" required>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-default" ng-click="ctrl.cancel();">Cancel</button>
                <button type="button" class="btn btn-danger" ng-click="ctrl.remove();">Remove</button>
            </form>
        </div>
    </div>
</div>