<!--TODO: Search(specific), Update, Delete-->
<!--TODO: 2. Build an edit html partial with these features -->
<!--TODO: 2.1 able to search for a specific department by department ID-->
<!--TODO: 2.2 allow users to edit department name-->
<!--TODO: 2.3 allow users to delete managers-->
<!--The ng-controller directive tells Angular the scope of the controller-->
<!--In this case, the EditCtrl is given the scope of the <div> element where it is called-->
<!--We then use EditCtrl (as ctrl) to manipulate elements within this <div>-->
<!--<div ng-controller="EditCtrl as ctrl">-->
<div>
    <div class="page-header">
        <h1>Supermart
            <small>Edit Grocery</small>
        </h1>
    </div>
    <br/>

    <!--<form name="queryForm" novalidate class="form-inline">
        <div class="form-group">
            <label for="dept_no">Department number:</label>
            <input id="dept_no" class="form-control" type="text" name="dept_no"
                   placeholder="Enter dept number"
                   ng-model="ctrl.dept_no"
                   ng-change="ctrl.initDetails()"
                   required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info form-control"
                    ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.search()">
                Search
            </button>
        </div>
    </form>

    <hr>-->
    <!--<table class="table table-striped" ng-show="ctrl.showDetails">-->
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Barcode</th>
            <th>Brand</th>
            <th>Product Name</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Identification</td>
            <td>
                {{ ctrl.result.id }}
            </td>
        </tr>
        <tr>
            <td>Barcode</td>
            <td>
                <img border="0" alt="barcode" src="{{ ctrl.result.imgpath }}" width="200">
            </td>
        </tr>
        <tr>
            <td>Brand</td>
            <td>
                <div ng-hide="ctrl.isEditorOn">
                    {{ ctrl.result.brand }}
                    <button type="button" class="btn btn-link btn-sm"
                            ng-click="ctrl.toggleEditor()">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>

                </div>
                <div ng-show="ctrl.isEditorOn">
                    <div class="input-group">
                        <input type="text" class="form-control" size="1" ng-model="ctrl.brand">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-success"
                                    ng-click="ctrl.updateBrand()">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-danger"
                                    ng-click="ctrl.toggleEditor()">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </td>

        </tr>
        <tr>
            <td>Product Name</td>
            <td>
                <div ng-hide="ctrl.isEditorOn">
                    {{ ctrl.result.name }}
                    <button type="button" class="btn btn-link btn-sm"
                            ng-click="ctrl.toggleEditor()">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>

                </div>
                <div ng-show="ctrl.isEditorOn">
                    <div class="input-group">
                        <input type="text" class="form-control" size="1" ng-model="ctrl.name">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-success"
                                    ng-click="ctrl.updateProductName()">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-danger"
                                    ng-click="ctrl.toggleEditor()">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </td>

        </tr>
        </tbody>
    </table>
</div>
