<div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h1>Login</h1>
						<p><i>Do not have an account yet? <a href="app/registration/register.html">Sign Up</a></i></p>

					</div>

					<!-- <div class="form-group">
                <label for="email-id"><b>Email</b></label>
                <input class="form-control" type="text" placeholder="yourmail@example.com" name="email" id="email-id" 
                        ng-model="ctrl.email" required>
            </div>

            <div class="form-group">
                <label for="psw-id"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" id="psw-id" 
                        pattern="[A-Za-z0-9@#$]+" ng-model="myCtrl.password1" required>
            </div> -->





					<div class="panel-body">
						<form accept-charset="UTF-8" role="form">
							<fieldset>
								<div class="form-group">
									<label for="email-id"><b>Email</b></label>
									<input class="form-control" type="text" name="email" id="email-id" ng-model="ctrl.email" placeholder="yourmail@example.com"
									 required>
									<!-- <input class="form-control" placeholder="yourmail@example.com" name="email" type="text"
									ng-model="ctrl.email" required> -->
								</div>
								<div class="form-group">
									<label for="psw-id"><b>Password</b></label>
									<input class="form-control" type="password" name="psw" id="psw-id" pattern="[A-Za-z0-9@#$]+" ng-model="ctrl.password" placeholder="Enter Password"
									 required>
								</div>
								<div class="checkbox">
									<label>
			    	    		<input name="remember" type="checkbox" value="Remember Me"> Remember Me
			    	    	</label>
								</div>
								<input type="button" class="btn btn-lg btn-success btn-block" ng-click="ctrl.submit()" value="Login">
							</fieldset>
						</form>
						<hr>
						<center>
							<h4>OR</h4>
						</center>
						<!-- <input class="btn btn-lg btn-facebook btn-block" type="submit" value="Login via facebook"> -->
						<!-- <input class="btn btn-block btn-social btn-facebook" type="button" value="Login via facebook"><span class="fa fa-facebook"></span> -->
						<a class="btn btn-lg btn-block btn-primary btn-social btn-facebook" ng-click="ctrl.submit()">
    						<span class="fa fa-facebook" ></span><h4 style="text-align: center"> Sign in with Facebook </h4></a>
						<!-- <input type="text" class="btn btn-lg btn-block btn-primary btn-social btn-facebook" ng-click="ctrl.submit()">
						<span class="fa fa-facebook"></span> Sign in with Facebook -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>